.category img{
   width: 370px;
   height: 216px; 
   border-radius: 20px;
}
.category{
    width: 370px;
    height: 380px ;
    background-color: antiquewhite;
    border-radius: 20px;
}
.add{
    width: 370px;
    height: 40px;
   
}